# deploy-aws.sh writes app.env from Terraform outputs. Shape:
DB_HOST=nestbank-dev.xxxxxxxx.eu-west-1.rds.amazonaws.com
DB_SSL=true
KAFKA_BROKERS=b-1.nestbankdev.xxxx.kafka.eu-west-1.amazonaws.com:9094,b-2.nestbankdev.xxxx.kafka.eu-west-1.amazonaws.com:9094
KAFKA_SSL=true
KAFKA_REPLICATION_FACTOR=2
